.game-board-square {
  border: 1px solid gray;
  float: left;
  padding: 0;
  width: 4em;
  height: 4em;
  margin: -1px;

  text-align: center;
  background: lightgray;
  span{
    font-size: 3.5em;
  }
  &:focus {
    outline: none;
  } 
  // button{
  //   width: 100%;
  //   height: 100%;
  // }

}


.winner {
  background: green;
}

.after-game{
  background: darkgray;
}